# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# 忽略文件
.DS_Store
**/.DS_Store
Android/example/ringDemo/.idea/misc.xml
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/Info.plist
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/_CodeSignature/CodeResources
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/BCLRingSDK
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Headers/BCLRingSDK-Swift.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Info.plist
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.abi.json
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.private.swiftinterface
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.swiftdoc
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.swiftinterface
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/module.modulemap
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/PrivacyInfo.xcprivacy
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/_CodeSignature/CodeResources
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/BCLRingSDK
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Headers/BCLRingSDK-Swift.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Info.plist
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.abi.json
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.private.swiftinterface
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.swiftdoc
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.swiftinterface
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.abi.json
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.private.swiftinterface
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.swiftinterface
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/module.modulemap
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/PrivacyInfo.xcprivacy
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/LICENSE.md
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/Platform/DataStructures/Bag.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/Platform/DataStructures/InfiniteSequence.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/Platform/DataStructures/PriorityQueue.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/Platform/DataStructures/Queue.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/Platform/DispatchQueue+Extensions.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/Platform/Platform.Darwin.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/Platform/Platform.Linux.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/Platform/RecursiveLock.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/README.md
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Common/ControlTarget.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Common/DelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Common/DelegateProxyType.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Common/Infallible+Bind.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Common/Observable+Bind.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Common/RxCocoaObjCRuntimeError+Extensions.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Common/RxTarget.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Common/SectionedViewDataSourceType.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Common/TextInput.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Foundation/KVORepresentable+CoreGraphics.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Foundation/KVORepresentable+Swift.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Foundation/KVORepresentable.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Foundation/NotificationCenter+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Foundation/NSObject+Rx+KVORepresentable.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Foundation/NSObject+Rx+RawRepresentable.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Foundation/NSObject+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Foundation/URLSession+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/DataSources/RxCollectionViewReactiveArrayDataSource.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/DataSources/RxPickerViewAdapter.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/DataSources/RxTableViewReactiveArrayDataSource.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Events/ItemEvents.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/NSTextStorage+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Protocols/RxCollectionViewDataSourceType.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Protocols/RxPickerViewDataSourceType.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Protocols/RxTableViewDataSourceType.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxCollectionViewDataSourcePrefetchingProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxCollectionViewDataSourceProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxCollectionViewDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxNavigationControllerDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxPickerViewDataSourceProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxPickerViewDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxScrollViewDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxSearchBarDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxSearchControllerDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTabBarControllerDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTabBarDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTableViewDataSourcePrefetchingProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTableViewDataSourceProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTableViewDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTextStorageDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxTextViewDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/Proxies/RxWKNavigationDelegateProxy.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIActivityIndicatorView+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIApplication+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIBarButtonItem+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIButton+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UICollectionView+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIControl+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIDatePicker+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIGestureRecognizer+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UINavigationController+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIPickerView+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIRefreshControl+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIScrollView+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UISearchBar+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UISearchController+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UISegmentedControl+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UISlider+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UIStepper+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UISwitch+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UITabBar+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UITabBarController+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UITableView+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UITextField+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/UITextView+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/iOS/WKWebView+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/macOS/NSButton+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/macOS/NSControl+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/macOS/NSSlider+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/macOS/NSTextField+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/macOS/NSTextView+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/macOS/NSView+Rx.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Runtime/_RX.m
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Runtime/_RXDelegateProxy.m
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Runtime/_RXKVOObserver.m
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Runtime/_RXObjCRuntime.m
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Runtime/include/_RX.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Runtime/include/_RXDelegateProxy.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Runtime/include/_RXKVOObserver.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Runtime/include/_RXObjCRuntime.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Runtime/include/RxCocoaRuntime.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/RxCocoa.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/RxCocoa.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/ControlEvent.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/ControlProperty.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Driver/BehaviorRelay+Driver.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Driver/ControlEvent+Driver.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Driver/ControlProperty+Driver.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Driver/Driver+Subscription.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Driver/Driver.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Driver/Infallible+Driver.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Driver/ObservableConvertibleType+Driver.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/ObservableConvertibleType+SharedSequence.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SchedulerType+SharedSequence.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SharedSequence+Concurrency.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SharedSequence+Operators+arity.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SharedSequence+Operators.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/SharedSequence/SharedSequence.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Signal/ControlEvent+Signal.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Signal/ObservableConvertibleType+Signal.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Signal/PublishRelay+Signal.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Signal/Signal+Subscription.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/RxCocoa/Traits/Signal/Signal.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxCocoa/Sources/RxCocoa/PrivacyInfo.xcprivacy
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxRelay/LICENSE.md
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxRelay/README.md
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxRelay/RxRelay/BehaviorRelay.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxRelay/RxRelay/Observable+Bind.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxRelay/RxRelay/PublishRelay.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxRelay/RxRelay/ReplayRelay.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxRelay/RxRelay/Utils.swift
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/RxRelay/Sources/RxRelay/PrivacyInfo.xcprivacy
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxCocoa/ResourceBundle-RxCocoa_Privacy-RxCocoa-Info.plist
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxCocoa/RxCocoa-dummy.m
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxCocoa/RxCocoa-Info.plist
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxCocoa/RxCocoa-prefix.pch
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxCocoa/RxCocoa-umbrella.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxCocoa/RxCocoa.debug.xcconfig
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxCocoa/RxCocoa.modulemap
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxCocoa/RxCocoa.release.xcconfig
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxRelay/ResourceBundle-RxRelay_Privacy-RxRelay-Info.plist
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxRelay/RxRelay-dummy.m
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxRelay/RxRelay-Info.plist
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxRelay/RxRelay-prefix.pch
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxRelay/RxRelay-umbrella.h
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxRelay/RxRelay.debug.xcconfig
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxRelay/RxRelay.modulemap
IOS/example/BCLRingSDKDemo_New/BCLRingSDKDemo/Pods/Target Support Files/RxRelay/RxRelay.release.xcconfig
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/Info.plist
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/_CodeSignature/CodeResources
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/BCLRingSDK
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Headers/BCLRingSDK-Swift.h
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Info.plist
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.abi.json
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.private.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.swiftdoc
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/module.modulemap
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/PrivacyInfo.xcprivacy
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/_CodeSignature/CodeResources
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/BCLRingSDK
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Headers/BCLRingSDK-Swift.h
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Info.plist
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.abi.json
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.private.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.swiftdoc
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.abi.json
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/module.modulemap
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.18/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/PrivacyInfo.xcprivacy
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/Info.plist
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/_CodeSignature/CodeResources
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/BCLRingSDK
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Headers/BCLRingSDK-Swift.h
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Info.plist
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.abi.json
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.private.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.swiftdoc
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/Modules/module.modulemap
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64/BCLRingSDK.framework/PrivacyInfo.xcprivacy
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/_CodeSignature/CodeResources
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/BCLRingSDK
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Headers/BCLRingSDK-Swift.h
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Info.plist
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.abi.json
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.private.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.swiftdoc
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/arm64-apple-ios-simulator.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.abi.json
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/BCLRingSDK.swiftmodule/x86_64-apple-ios-simulator.swiftinterface
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/Modules/module.modulemap
IOS/library/BCLRingSDK_New/iOS_New_Framework_1.1.19/BCLRingSDK.xcframework/ios-arm64_x86_64-simulator/BCLRingSDK.framework/PrivacyInfo.xcprivacy
Android/example/ringDemo/.idea/misc.xml
/Android/example/ringDemo/.idea
/Android
/Android/example/ringDemo/.idea
Android/example/ringDemo/local.properties
/Android/example/ringDemo/.idea
